.invalid-feedback {
  font-size: 0.9em;
  color: $red;
}
.is-invalid {
  border-color: $red !important;
}
.translateup {
  position: relative;
  top: -0.5rem;
}
.big-icon {
  --eit-icon-size: 96px;
  --eit-icon-color: rgb(221, 30, 164);
}
.box-center {
  --eit-info-box-align: center;
  --eit-info-box-background-color: rgb(160, 27, 27);
  --eit-info-box-color: #fff;
  --eit-info-box-icon-color: #fff;
  --eit-info-box-close-icon-color: #ffc
}